.cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(20% - 10px); 
    margin-bottom: 20px; 
    background-color: #fff;
}

.card-image {
    width: 100%;
    height: auto;
    display: block;
}

.card-content {
    padding: 16px;
}

.card-content p {
    margin: 0;
    color: #333;
}
